<header>
    <a href="{{ url_for('index') }}" class="logo">Crease</a>

    <nav> <!-- TO DO: Make dropdown not overlay with nav - must still let user be able to drag mouse over -->
        <a href="{{ url_for('index') }}" class=" {{ 'active' if active_page == 'home' }}">Home</a>
        <a href="#matches" class="{{ 'active' if active_page == 'matches' }}">Live Games</a> <!--url_for(('matches'))-->
        <a href="#fixtures" class="{{ 'active' if active_page == 'fixtures' }}">Fixtures</a>
        <div class="dropdown">
            <a href="#" class="{{ 'active' if active_page == 'logs' }}">Analytics</a>
            <div class="dropdown-content">
                <a href="#logs">Logs</a>
                <a href="#">Stats</a>
            </div>
        </div>
        <a href="#" class="">Account</a>
    </nav>

    <button class="icon-btn" onclick="toggleTheme()" aria-label="Toggle dark mode">
        <i id="theme-icon" class="fa-solid fa-moon fa-lg"></i>
    </button>
</header>
