/* Gameblock */
.gameblock {
    width: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 1, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.gameblock-heading {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #0066ff;
    color: white;
}

.gameblock-title {
    margin: 0 auto;
    text-align: center;
    float: left;
    width: 320;
}

.gameblock-body {
    padding: 16px;
    border: 3px solid #0066ff;
}

.gameblock-row {
    margin-left: 14px;
    margin-right: 2px;
}

.gameblock-teamlogo {
    float: left;
    height: 100px;
}

.gameblock-parent {
    display: flex;
    justify-content: center;
}

.gameblock-score {
    color: rgb(54, 54, 54);
    font-size: 300%;
    text-align: center;
    float: left;
    width: 30%;
    margin-bottom: 40px;
}

.gameblock-stats {
    margin: 0 auto;
    float: left;
    width: 50%;
}

.gameblock-statsdiv {
    font-weight: bold;
    text-align: center;
    width: 25%;
}

.gameblock-status {
    color: #0066ff;
    font-weight: bold;
    text-align: center;
    margin-top: 16px;
}

.gameblock-footer {
    border-bottom: 3px solid #0066ff;
    border-left: 3px solid #0066ff;
    border-right: 3px solid #0066ff;
    background-color: rgb(212, 212, 212);
    font-size: 80%;
}

span {
    margin-right: 5px;
    margin-left: 8px;
}