<!DOCTYPE html>
<html>
    <head>
        <title>LiveCricket | Live Matches</title>
        <link rel="icon" type="image/x-icon" href="/static/images/assets/lc-logo.ico">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/matches.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/livegame.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/dark.css') }}">
        <script src="https://kit.fontawesome.com/77197ba462.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- Header / Navbar -->
        <header>
            <div class="logo">
                <h2>LiveCricket</h2>
            </div>

            <div class="navbar-actions">
                <button class="navbar-icon" onclick="color_mode()">
                    <div id="icon">
                        <i class="fa-solid fa-moon fa-xl"></i>
                    </div>
                </button>
            </div>
            
            <div class="navbar">
                <a href="/" class="navbox">Home</a>
                <a href="matches" class="navbox active">Live Games</a>
                <div class="dropdown navbox">
                    <a class="dropbtn">Analytics</a>
                    <div class="dropdown-content">
                        <a href="logs">Logs</a>
                        <a href="statistics">Stats</a>
                    </div> 
                </div>
                <a href="account" class="navbox">Account</a>
            </div>
        </header>

        {% block live_gameblock %}{% endblock %}

        <!-- Footer -->
        <footer>
            <h2 style="text-align: center;">LiveCricket</h2>

            <div class="box">
                <li><a href="/">Home</a></li>
                <li><a href="matches">Live Games</a></li>
                <li><a href="fixtures">Fixtures & Results</a></li>
                <li><a href="account">Account Management</a></li>
                <br>
                <li><a href="tos">Terms & Conditions</a></li>
                <li><a href="privacy">Privacy Policy</a></li>
                <li><a href="contact">Contact Us</a></li>
            </div>

            <p style="text-align: center; font-size: 10px;">&copy; OptiTech 2024</p>
        </footer>
        <script src="/static/js/theme.js"></script>
        <script src="/static/js/innings_switch.js"></script>
    </body>
</html>
