<!DOCTYPE html>
<html>
    <head>
        <title>LiveCricket | Home</title>
        <link rel="icon" type="image/x-icon" href="static/images/assets/lc-logo.ico">
        <link rel="stylesheet" href="static/css/main.css">
        <link rel="stylesheet" href="static/css/dark.css">
        <link rel="stylesheet" href="static/css/pages/home.css">
        <script src="https://kit.fontawesome.com/77197ba462.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- Header / Navbar -->
        <header>
            <div class="logo">
                <h2>LiveCricket</h2>
            </div>

            <div class="navbar-actions">
                <button class="navbar-icon" onclick="color_mode()">
                    <div id="icon">
                        <i class="fa-solid fa-moon fa-xl"></i>
                    </div>
                </button>
            </div>
            
            <div class="navbar">
                <a href="/" class="navbox active">Home</a>
                <a href="matches" class="navbox">Live Games</a>
                <div class="dropdown navbox">
                    <a class="dropbtn">Analytics</a>
                    <div class="dropdown-content">
                        <a href="logs">Logs</a>
                        <a href="statistics">Stats</a>
                    </div> 
                </div>
                <a href="account" class="navbox">Account</a>
            </div>
        </header>

        <!-- Latest News -->
        <div class="container">
            <div class="row">
                <h2>Latest News</h2>
                <hr>
                <h1>Development Phase in Progress</h1>
                <p>The development phase of LiveCricket is in progress. This means the website, at its current state, won't be fully
                    functional. Certain features are either unstable or unusable. It's very likely that you'll come across unresolved
                    bugs, but if you do please contact the development team to look into the issue.
                </p>
            </div> 
        </div>

        <!--Info Panel-->
        <div class="container-grey container">
            <br>
            <div class="info">
                <div class="info-left">
                    <h2>Why LiveCricket?</h2>
                    <p>LiveCricket is a fast, user-friendly scoring platform trusted by leading schools and clubs. It allows you to effortlessly access 
                        scores and results, or even score a game yourself.
                    </p>
                </div>

                <div class="info-right">
                    <h2>About LiveCricket</h2>
                    <p>LiveCricket was built to make cricket scoring simple, accurate, and easily accessible for schools, clubs and fans. Driven by our passion
                        for cricket, we created a platform that keeps everyone connected with real-time updates and statistics.
                    </p>
                </div>
            </div>
            <br>
        </div>

        <!-- Directory -->
        <div class="container">
            <div class="text-center">
                <h2>Where would you like to go?</h2>

                <div class="dir-parent">
                    <div class="dir-icon">
                        <i class="fa-solid fa-bolt"></i>
                        <h2>Live Games</h2>
                        <p>View all the live games that are being scored with our platform.</p>
                        <a href="matches" class="button-1">Go to Live Games</a>
                    </div>

                    <div class="dir-icon">
                        <i class="fa-solid fa-calendar-days"></i>
                        <h2>Fixtures & Results</h2>
                        <p>View the results of past games and upcoming fixtures.</p>
                        <a href="fixtures" class="button-1">Go to Fixtures & Results</a>
                    </div>

                    <div class="dir-icon">
                        <i class="fa-solid fa-trophy"></i>
                        <h2>Logs</h2>
                        <p>View the standings of each team in their respective leagues or tournament.</p>
                        <a href="logs" class="button-1">Go to Logs</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer>
            <h2 style="text-align: center;">LiveCricket</h2>

            <div class="box">
                <li><a href="/">Home</a></li>
                <li><a href="matches">Live Games</a></li>
                <li><a href="fixtures">Fixtures & Results</a></li>
                <li><a href="account">Account Management</a></li>
                <br>
                <li><a href="tos">Terms & Conditions</a></li>
                <li><a href="privacy">Privacy Policy</a></li>
                <li><a href="contact">Contact Us</a></li>
            </div>

            <p style="text-align: center; font-size: 10px;">&copy; OptiTech 2024</p>
        </footer>
        <script src="/static/js/theme.js"></script>
    </body>
</html>