{% extends 'matches/base.html' %}

{% block gameblock %}
{% set ns = namespace(current_league=None) %}
{% for game in data %}
    {% if ns.current_league != game.league %}
        {% set ns.current_league = game.league %}
        <div id="category">
            <h3>{{ game.league_name }}</h3>
        </div>
        
    {% endif %}
    <div class="gameblock" onclick="window.open('livegame?id={{game.id}}')">
        <!--Gameblock Header-->
        <div class="gameblock-heading text-center">
            <div class="gameblock-title">
                <h3>{{game.teamA}}</h3>
            </div>
            <div class="gameblock-divider">
                vs
            </div>
            <div class="gameblock-title">
                <h3>{{game.teamB}}</h3>
            </div>
        </div>
        <!--Gameblock Body-->
        <div class="gameblock-body">
            <img class="gameblock-teamlogo" src="/static/images/logos/{{game.teamA_image}}"> 
            <img class="gameblock-teamlogo" src="/static/images/logos/{{game.teamB_image}}" style="float: right;">

            <!--Team Totals-->
            <div class="gameblock-parent text-center">
                <div class="gameblock-score" style="border-right: 3px solid grey">
                    {{game.scores.teama_score}}/{{game.scores.teama_wkts}}
                </div>

                <div class="gameblock-score">
                    {{game.scores.teamb_score}}/{{game.scores.teamb_wkts}}
                </div>
            </div>

            <!--Stats-->
            <!--Overs-->
            <div class="gameblock-parent">
                <div class="gameblock-stats text-right">
                    {{game.scores.teama_overs}}
                </div>
                <div class="gameblock-statsdiv">
                    Overs
                </div>
                <div class="gameblock-stats text-left">
                    {{game.scores.teamb_overs}}
                </div>
            </div>

            <!--Extras-->
            <div class="gameblock-parent">
                <div class="gameblock-stats text-right">
                    {{game.scores.teama_extras}}
                </div>
                <div class="gameblock-statsdiv">
                    Extras
                </div>
                <div class="gameblock-stats text-left">
                    {{game.scores.teamb_extras}}
                </div>
            </div>

            <!--Run Rate-->
            <div class="gameblock-parent text-right">
                <div class="gameblock-stats">
                    {% if game.scores.teama_score == 0 %}
                        0
                    {% else %}
                        {{(game.scores.teama_score / game.scores.teama_overs) | round(2, 'floor')}}
                    {% endif %}
                </div>
                <div class="gameblock-statsdiv">
                    Run Rate
                </div>
                <div class="gameblock-stats text-left">
                    {% if game.scores.teamb_score == 0 %}
                        0
                    {% else %}
                        {{(game.scores.teamb_score / game.scores.teamb_overs) | round(2, 'floor')}}
                    {% endif %}
                </div>
            </div>

            <!--Game Status-->
            {% if game.progress == 2 and game.scores.first_team_inning != game.scores.current_team_inning %}
            <div class="gameblock-status">
                {% if game.scores.current_team_inning == 1 %}
                    {% set current_score = game.scores.teama_score %}
                    {% set overs_bowled = game.scores.teama_overs %}
                {% else %}
                    {% set current_score = game.scores.teamb_score %}
                    {% set overs_bowled = game.scores.teamb_overs %}
                {% endif %}
                {% set remaining_overs = game.scores.total_overs - overs_bowled %}
                {% set runs_needed = game.scores.target - current_score %}
                {{ game.status }} ({{ (runs_needed / remaining_overs) | round(3, 'floor') }} RPO) 
            </div>

            {% else %}
            <div class="gameblock-status">
                {{ game.status }}
            </div>
            {% endif %}
        </div>

        <!--Gameblock Footer-->
        <div class="gameblock-footer">
            <span><i class="fa-solid fa-calendar-days"></i> {{game.datetime}}</span>
            <br>
            <span><i class="fa-sharp fa-solid fa-location-dot"></i> {{game.venue}}</span>
            <span><b>Type: </b>{{game.format}}</span>
            <span><b>Toss: </b>{{game.toss}}</span>
        </div>
    </div>
    {% endfor %} 
{% endblock %}